@page

<link rel="stylesheet" href="~/css/chat.css" />

<!-- #region Info button:-->
<section class="page-info">
    <div class="info-button" id="button-info">View&nbsp;Page&nbsp;Info</div>
    <article>
        Message others here!
    </article>
</section>
<!-- #endregion -->

<div class="chat-board">Chat</div>
<div id="datalistHolder">
    <!--INSERT USER-LIST DATALIST HERE-->
</div>

<div class="chat-container">
    <div class="left-chat-content">
        <!--  #region CREATE NEW CHAT-->
        <div class="create-chat-section">
            <h4> Create New Chat</h4>
            <form action="javascript:void(0);" method="POST" onsubmit="addNewChat()" class="add-pple">
                <!--Displays added chat members-->
                <div id="userChat-display"></div>

                <div id="userChat-hidden-holder"></div>

                <!--Add chat memeber section-->
                <div class="input-group">
                    <input class="form-control" id="chatUser-input" list="user-list" name="selectedChatUsersInitalCreate" placeholder="Add people to a new chat...">
                    <input class="btn btn-sm btn-secondary input-group-append" type="button" id="more_collab" onclick="add_chatUser();" value="Add Chat Member" />
                </div>
                <!--Create chat section-->
                <div class="input-group">
                    <input class="form-control" name="StartingMessage" placeholder="Enter your starting message here..." id="staringMessage">
                    <input type="submit" value="Create Chat" class="btn btn-sm btn-primary input-group-append" />
                </div>
            </form>
        </div>
        <!-- #endregion-->
        <!-- #region DISPLAY THE CHATS -->
        <div class="private-container">
            <div class="private-talk">
                <p>Private conversations</p>
            </div>
            <div class="private-talk-content">
                <div id="privateChatsHolder">
                    <!--INSERT PRIVATE CHATS HERE-->
                </div>
            </div>
        </div>


        <div class="group-container">
            <div class="group-talk">
                <p>Group conversations</p>
            </div>
            <div class="group-talk-content">
                <div id="groupChatsHolder">
                    <!--INSERT GROUP CHATS HERE-->
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion-->


    <!--container for chat messages-->
        <div id="displayed-chat" class="message-container"></div>
</div>



<script src="~/js/chatapi.js"></script>

<script src="~/js/site.js"></script>

<script>
    window.onload = function () {
        var objDiv = document.getElementById("chat-message-container");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>