@model ConstellationWebApp.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

    <div class="container rounded border shadow-lg col-md-4 mx-auto my-md-5 padding">
        <img class="small-thumbnail mb-4 mx-auto d-block mt-2" src="~/image/byui-blackbox70.png" />
        <h3 class="text-center">Login</h3>
        <hr />
                <form asp-action="Login">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="custom-checkbox">
                            <label >
                                <input type="checkbox" asp-for="RememberMe" /> Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success btn-block ml-0" />
                    </div>
                </form>
    </div>

