@model ConstellationWebApp.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet" href="~/css/login-register.css" />

<div class="login-container">
    <div class="login-message"></div>
    <div class="login-card">
        <h2>Welcome to ConstellationWebApp</h2>
        <hr class="hr1" />
        <h3>Login</h3>
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-checkbox">
                    <label>
                        <input type="checkbox" asp-for="RememberMe" /> Remember Me
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success btn-block ml-0 shadow" />
            </div>
        </form>
    </div>
</div>

