@model ConstellationWebApp.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}
    <link rel="stylesheet" href="~/css/register.css" />


    <div class="log-container">
        <div class="login">
            <h2>Welcome!</h2>
            <h4>Please register below</h4>

            <form asp-action="Register">
                <div asp-validation-summary="All" class="validate"></div>
                <div class="group">
                    <input asp-for="Email" placeholder="Email" type="text"><i class="fas fa-user"></i>
                    @*<span asp-validation-for="Email" class="validate"></span>*@
                </div>

                <div class="group">
                    <input asp-for="Password" placeholder="Password" type="password"><i class="fas fa-lock"></i>
                    @*<span asp-validation-for="Password" class="validate"></span>*@
                </div>

                <div class="group">
                    <input asp-for="ConfirmPassword" placeholder="Confirm password" type="password"><i class="fas fa-lock"></i>
                    @*<span asp-validation-for="ConfirmPassword" class="validate"></span>*@
                </div>

                <input type="submit" class="btnn" value="Register" />
            </form>

            <p class="ss">Have an account already ? <a href="#">Login</a></p>
        </div>

    </div>

