@model ConstellationWebApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}
<input type="hidden" asp-for="Id" />

@*@if (Model.Id != null)
{
<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
}*@