@model ConstellationWebApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}
<input type="hidden" asp-for="Id" />

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12">
            <div class="container-fluid card shadow-lg text-black-50 text-white  bg-light mb-3 padding">
                <h1>Home Page</h1>
            </div>
        </div>
    </div>
</div>