@model ConstellationWebApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}
<input type="hidden" asp-for="Id" />

@*@if (Model.Id != null)
{
<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
}*@


<div class="container padding">
    <div class="row padding">
        <div class="col-md-12">
            <div class="card shadow-lg text-black-50 text-white  bg-light mb-3 padding">
                <h1>Home Page</h1>
            </div>
        </div>
    </div>
</div>