@model ConstellationWebApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" asp-for="Id" />

<link rel="stylesheet" href="/css/homepage.css" />

<div class="home-container">

    <div class="section1">
        <div class="users">
            <div class="user-view">
                <p>
                    We have over a thousand BYU-Idaho students with the right mindset
                    about work and success in their various careers
                    seeking ways to improve and to contribute to the society.
                </p>

                <a asp-controller="Users" asp-action="Index">View Users</a>
            </div>
        </div>
        <div class="projects">
            <div class="project-view">
                <p>BYU-Idaho students are constantly sharpening their skill 
                sets, they are making use of available resources to
                creat out of class projects and are contributing 
                to the success of their peers.
                </p>

                <a asp-controller="Projects" asp-action="Index">View Projects</a>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/WebAssests/siteImages/slide1.webp" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/WebAssests/siteImages/slide2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/WebAssests/siteImages/slide3.jpg" style="width:100%">
            </div>

        </div>
        <!-- <br> -->

        <div style="text-align:center; margin-top: 5px">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>

<section class="section4">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UCqjlMoAhtY9RH-R_pOITY1g?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
</section>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 7 seconds
    }
</script>


<!-- Welcome Note to users and employers -->
@*<div class="jumbo">
        <div class="welcome1">
            <h4>Constellation Platform : </h4>
            <p>
                Show your qualities, competence, and projects all in one location
                and make them accessible to potential employers.
            </p>
            <a asp-controller="Account" asp-action="Register"><div class="button1">SignUp Now</div></a>
        </div>
        <div class="welcome2">
            <h4>You have a Job Opening and you are looking to fill it up with the right <span style="font-style: italic;">CANDIDATE</span></h4>
            <a asp-controller="Postings" asp-action="Create"><div class="button2">Post Jobs</div></a>
        </div>
    </div>*@

