                                            
                                         /*INSTRUCTIONS FROM MICROSOFT*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Israel's Note */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*NAVIGATION LINKS*/


/*BODY*/
main {
    margin-top: 50px;
}

.titleCard {
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    background-color: #1b6ec2;
    padding: 0.5rem 0.5rem;
}
.titleBorder {
    border-top: 10px solid #1b6ec2;
    border-radius: 5px 5px 0 0;
    background-color: white;
    color: #1b6ec2;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    padding: 0.3em;
}

#usersCard .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #343a40;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.gradient {
    height: 40vh;
    min-height: 400px;
    max-height: 1000px;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}

.gradient-content {
    display: flex;
    justify-content: space-evenly;
    /* max-width: ; */
    padding-top: 60px;
}

#section1 {
    padding: 20px;
}

.bigClick {
    height: 7em;
    width: 7em;
    border: 0 solid white;
    border-radius: 90%;
    color: white;
    text-align: center;
    line-height: 0;
}

    #boxLink1, #boxLink2, #boxLink3 {
        text-decoration: none !important;
    }

    .bigClick:hover {
        background: #6c757d !important;
        color: #fff;
        border: none;
        box-shadow: 5px 5px 15px #343a40;
    }

.social a {
    font-size: 2em;
    margin: 0 15px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-github {
    color: #0e76a8;
}

.fa-youtube {
    color: #bb0000;
}

    .fa-facebook:hover,
    .fa-twitter:hover,
    .fa-github:hover,
    .fa-youtube:hover {
        color: #6c757d;
    }

#box1 {
    /*border: 1px solid white;*/
    background: gray;
    height: 20em;
    padding: 3em 5em;
    box-shadow: 5px 5px 15px #343a40;
    border-radius: 10px;
}

#box2 {
    /* border: 1px solid white; */
    padding: 3em 5em;
    background: #6f42c1;
    box-shadow: 5px 5px 15px #343a40;
    border-radius: 10px;
}

 #box1:hover, #box2:hover {
        background: #dc3545 !important;
        color: #fff;
        border: none;
        box-shadow: 5px 5px 15px #343a40;
    }
footer {
    color: white;
    background: #343a40;
    padding: 1rem .5rem;
}


/*#usersCard .card:hover {
        background: #e74c3c;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 15px #343a40;
    }*/
/*HEADER*/
/*FOOTER*/
/*BUTTONS*/
/*CSS form Scroll-To-Top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 99;
    border: 1px solid white;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
#myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }



/*PICTURES*/
.small-thumbnail {
    padding: 3px;
    line-height: 0.7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
}


