@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*BODY*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*    background-color: rgba(0,0,0,0.1);*/
}
main {
    margin-top: 50px;
    overflow:hidden;
}

.titleCard {
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    background-color: #1b6ec2;
    padding: 0.5rem 0.5rem;
}
.titleBorder {
    border-top: 10px solid #1b6ec2;
    border-radius: 5px 5px 0 0;
    background-color: white;
    color: #1b6ec2;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    padding: 0.3em;
}

.general-search-bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: 25px 5px 0 5px;
    padding: 5px 0;
}
.general-index-head {
    background-color: #1d3557;
    color: white;
    width: 100%;
    text-align: center;
    /*margin-bottom: 3px;*/
}

    .general-index-head h2 {
        margin: 0;
        font-size: 1.5em;
        padding: 5px;
    }

footer {
    background-color: #1d3557;
    color: #fff;
    border-top: 1px solid whitesmoke;
    padding: 30px;
    text-align: center;
}

/*CSS form Scroll-To-Top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 99;
    border: 1px solid white;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fd7e14;
}
    #myBtn:hover {
        background-color: #28a745;
    }


.big-thumbnail {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
    border: .5em solid #ebeef8;
    margin: 1em auto auto auto;
}
.small-thumbnail {
    width: 150px;
    height: 150px;
    object-fit:cover;
    border: 1px solid white;
    border-radius: 3px;
}

@media screen and (min-width: 767px) {
    main {
        padding: 2px 5px;
    }
    .general-search-bars {
        grid-template-columns: 1fr 1fr;
        margin: 0 5px;
    }

    .general-index-head h2 {
        font-size: 1.5em;
        font-weight: 600;
       
    }

    .big-thumbnail {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        object-fit: cover;
        border: 1.5em solid #ebeef8;
        margin: 1em auto auto auto;
    }
}
 @media screen and (min-width: 991px) {
    main {
        padding: 2px 95px 100px 95px;
    }
    .general-search-bars {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }
