                                            
                                         /*INSTRUCTIONS FROM MICROSOFT*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Israel's Note */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*NAVIGATION LINKS*/


/*BODY*/
main {
    margin-top: 50px;
}

.titleCard {
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    background-color: #1b6ec2;
    padding: 0.5rem 0.5rem;
}
.titleBorder {
    border-top: 10px solid #1b6ec2;
    border-radius: 5px 5px 0 0;
    background-color: white;
    color: #1b6ec2;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    padding: 0.3em;
}



/*CSS form Scroll-To-Top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 99;
    border: 1px solid white;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
#myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }



/*PICTURES*/
.small-thumbnail {
    padding: 3px;
    line-height: 0.7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
}


