/* page information button */
section {
    margin-top: 0 !important;
}
.page-info {
    position: relative;
    margin-top: 3.5rem;
}

.info-button {
    position: absolute;
    right: -160px;
    transition: 0.3s;
    font-size: .9rem;
    padding: .5rem 4px;
    text-align: center;
    color: white;
    border: 0 solid transparent;
    width: 6.5rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fd7e14;
    margin-bottom: 25px !important;
    z-index: 999;
}
    .info-button:hover {
        right: -95px;
    }

    .info-button:hover {
        background: #9b4c0b;
    }

section article {
    position: absolute;
    top: 2.2rem;
    left: -120%;
    color: rgb(223, 178, 29);
    background-color: rgba(0,0,0,.8);
    text-align: justify;
    padding: 10px;
    font-style: italic;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
    width: 90%;
    z-index: 999;
}
    section article.display {
        left: 0;
        transition: .5s;
    }
/*Ends here*/
@media screen and (max-width: 768px) {
    .info-button {
        top: 0;
        right: 0;
        padding: 5px;
    }
}
/*@media screen and (max-width: 768px) {
    .info-button {
        top: 0;
        right: -69px;
        padding: 5px;
    }
}*/