/* page information button */
.page-info {
    position: relative;
    margin-top: 3.5rem;
}

.info-button {
    position: absolute;
    right: -68px;
    transition: 0.3s;
    font-size: .9rem;
    padding: .5rem 2px;
    text-align: center;
    color: white;
    border: 0 solid transparent;
    width: 6.5rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fd7e14;
    z-index: 1024;
}
    .info-button:hover {
        right: 0;
    }

    .info-button:hover {
        background: #9b4c0b;
    }

section article {
    position: absolute;
    top: 2.2rem;
    left: -100%;
    color: rgb(223, 178, 29);
    background-color: rgba(0,0,0,.8);
    text-align: justify;
    padding: 10px;
    font-style: italic;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
    width: 90%;
    z-index: 1024;
}
    section article.display {
        left: 0;
        transition: .5s;
    }
/*Ends here*/
