/* Extra Lare Screen size */
@media (min-width: 1199px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    #usersDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.5rem;
        column-gap: 1.5rem;
        orphans: 1;
        widows: 1
    }

    .card article {
        font-size: 1.2rem;
    }
}

/* Large Screen size */
@media (max-width: 1198px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    #usersDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    .carousel-caption h4, h1 {
    }

    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.5rem;
        column-gap: 1.5rem;
        orphans: 1;
        widows: 1
    }

    .card article {
        font-size: 1.2rem;
    }
}
