
/*CSS form Login Page*/
.login-card {
    width: 100%;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15px 15px 100px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .login-card h2 {
        text-align: center;
        word-wrap: break-word;
        font-size: 20px;
        
    }

    .login-card h3 {
        text-align: center;
        margin: 0;
        font-size: 20px;
        color: #28a745;
    }

@media screen and (min-width: 767px) {
    .login-card {
        width: 30%;
        margin: 100px auto;
    }
   
}

@media screen and (min-width: 991px) {
    .login-card {

    }

}


@media screen and (min-width: 1199px) {
    
}
@media screen and (min-width: 2000px) {
   
}

/*CSS for Register page*/
.register-card {
    width: 100%;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15px 15px 100px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .register-card h3 {
        text-align: center;
        margin: 0;
        color: #1b6ec2;
    }
.register-card .hr1 {
    display: block;
}

@media screen and (min-width: 767px) {
    .register-card {
        width: 30%;
        margin: 100px auto;
    }
    .register-card .hr1 {
        display: none;
        margin-top: 0;
        font-weight: 700;
    }
}

@media screen and (min-width: 991px) {
    .register-card {
        
       
    }
}

@media screen and (min-width: 1199px) {
    .register-card {
       
       
    }
}

@media screen and (min-width: 2000px) {
    .register-card {
        
    }
}