html {
    width: 100%;
}
.user-bio {
    overflow: scroll;
    height: 10em;
    width: 100%;
}
.posting-index-container {
    display: block;
}

.posting-index-bread-crumb {
    display: none;
    background-color: aliceblue;
    padding: 5px;
    text-align: left;
    color: blue;
}

.search-bar1, .search-bar2, .search-bar3, .search-bar4 {
    display: none;
    margin: 3px 3px;
}
.create-posting {
    margin: 1px 0;
    width: 100%;
}

    .posting-index-search-bars .form-control {
        width: 50% !important;
    }
.input-group {
    width: 104%;
}

.posting-index-content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    margin: 0 1em 1em 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posting-index-content {
    overflow: scroll;
    height: 30em;
    background-color: whitesmoke;
    margin: 90% !important;
    margin: auto !important;
}

    .poster-image {
        height: 20em;
        width: 100%;
    }

.posting-collaborators h4 {
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
    background-color: #1b6ec2;
}

.posting-collaborators-pictture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


@media screen and (min-width: 767px) {
    .posting-index-bread-crumb {
        display: block;
    }

    

    .search-bar1, .search-bar2, .search-bar3, .search-bar4 {
        display: block;
    }

    .search-bar0 {
        display: none;
    }

    .posting-index-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        margin: 0 1em 1em 1em;
    }

    .posting-index-content {
        overflow: scroll;
        height: 35em;
        background-color: whitesmoke;
        margin: 90% !important;
        margin: auto !important;
    }

        .poster-image {
            height: 25em;
        }
}

@media screen and (min-width: 991px) {
    .posting-index-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1em;
        margin: 1em;
    }

    .posting-index-search-bars {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
        margin-bottom: 6px;
    }

    .search-bar1, .search-bar2 {
        display: block;
    }

    .search-bar4, .search-bar0, .search-bar3 {
        display: none;
    }

    .alphabet-search a {
        display: block;
        padding: 2px 12px;
        margin: auto;
    }

    .poster-image {
        height: 25em;
    }
}

@media screen and (min-width: 1199px) {
    .alphabet-search a {
        display: block;
        padding: 2px 15px;
        margin: auto;
    }

    .search-bar0 {
        display: none;
    }

    .posting-index-content {
        overflow: scroll;
        height: 40em;
    }
}
