.postings-create-container {
    padding: 5px;
}

.postings-header {
    text-align: center;
    color: #555;
    text-transform: uppercase;
    padding: 17px 10px 10px;
    font-size: 1.5rem;
}
.postings-create-content {
    background-color: rgba(245, 245, 245, 1);
    margin: 0 0rem 2rem;
    padding: 1rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.postings-create-type {

}

@media screen and (min-width: 767px) {
    .postings-create-content {
        margin: 0 1rem 2rem;
    }
}

@media screen and (min-width: 992px) {
    .postings-create-content {
        margin: 0 10rem 2rem;
    }
}
