 
html {
    width: 100%;
}

.form-group {
    margin-bottom: 2px;
}
.project-details-body {
   
}

.project-details-head {
    background-color: #1d3557;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 3px;
    margin-bottom: 0;
    font-weight: 700;
}

.project-picture {
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
}

    .project-picture img {
        width: 100%;
    }

.project-title {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    font-weight: 700;
    color: #444;
    margin: 10px 0 -3px 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.project-content h3, .project-content h4, .project-collaborators h4 {
    text-align: center;
    margin-bottom: 0 !important;
    padding: 3px;
    color: #1b6ec2;
    background-color: whitesmoke;
    font-size: 19px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.project-description {
    overflow: auto;
    overflow-x: hidden;
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    color: #999;
}

    .project-description p {
        padding: 5px;
        text-align: justify;
        font-size: 12px;
        margin-bottom: 0;

    }

.project-date {
      padding: 5px;
}

.project-date p {
    margin-bottom: 0;
    font-size: 15px;
    color: #999;
}

.project-link {
    overflow: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    background-color: white;
  
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.project-link a {
    text-decoration: none;
    color: #999;
    font-size: 10px;
 }

 .project-link a:visited {
     color: lightgreen;
  }

 .project-link a:hover {
     color: blue;
  }
 .project-link a:active {
     color: #e63946;
  }

.project-collaborators {
    width: 100%;
}

.project-collaborators-picture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.project-collaborators-pictture a img {
    margin: 3px;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    border: 2px solid #1d3557;
 }

.project-details-footer {
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid gray;
}

.project-details-footer a {
    margin: 5px 2px;
 }

/* CSS for Job postings Relating to Project Details */
.job-posting-field {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    height: 350px;
    width: 100%;
    margin: auto;
    padding: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.const-card-wrapper {
    font-size: 8px !important;
    /*font-family: "Roboto", sans-serif !important;*/
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.const-card {
    font-size: 10px !important;
    /*font-family: "Roboto" !important;*/
    border: 1px solid #cbd4f1;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.postings-title {
    background-color: #1d3557; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #1d3557, #457b9d);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 1.7em;
    font-weight: 600;
}

.postings-info {
    width: 100%;
}

.position {
    border-bottom: 1px solid #555;
    width: 100%;
    text-align: center;
    padding: 3px;
    font-size: 1.7em;
}

    .position strong {
        color: green;
    }

.owners-box {
    padding: 2px;
}

    .owners-box img {
        margin-left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        padding: 2px 2px 5px 2px;
        border: 2px solid #457b9d;
    }

.job-owners-name {
    color: #000;
    text-align: center;
    color: green;
    font-size: 18px;
}

.postings-details {
    width: 100%;

}
.postings-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    height: 35px;
    flex-wrap: wrap;
}
  .postings-details h2, .postings-description h2 {
        background: #457b9d;
        color: #fff;
        font-size: 15px;
        width: 100%;
        text-align: center;
        height: 20px;
        margin: 0;
    }
    .postings-type p {
        padding: 1px 3px;
        color: #555;
        margin-bottom: 0;
        font-size: 12px;
    }

.postings-description p {
    padding: 0 1rem;
    word-spacing: -2px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 0;  
}
.const-card-footer {
    margin: 5px 0;
}





@media screen and (min-width: 767px) {
    /* CSS for Job postings Relating to Project Details */
    .job-posting-field {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 25em;
        width: 100%;
        margin: auto;
    }

    .project-details-head {
        font-size: 25px;
        padding: 1px;
    }
    .project-title {
        font-size: 20px;
       
    }
    .project-content h3, .project-content h4, .project-collaborators h4 {
        margin-bottom: 2px !important;
    }
    .project-details-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin-top: 2px;
    }

    .project-picture {
        width: 30%;
        margin: 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
        margin: 2px 0px 5px 0;
    }

   .project-picture img {
        height: 100%;
        width: 100%;
           /* border: 2px solid gray;
            box-shadow: azure;*/
     }

    .project-content {
        width: 48%;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
        margin: 2px 0 5px 3px;
    }
    .project-description {
        height: 140px;
    }
    .project-description p {
        font-size: 14px;
    }

    .project-collaborators {
        width: 21%;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
        margin: 2px 0px 5px 7px;
    }
}

@media screen and (min-width: 1024px) {
    .job-posting-field {
        grid-template-columns: 1fr 1fr 1fr;
        height: 25em;
    }
}