
html {
    width: 100%;
}

.form-group {
    margin-bottom: 2px;
}
.project-details-body {
   
}

.project-details-head {
    background-color: #457b9d;
    color: white;
    width: 100%;
    text-align: center;
    font-size: large;
    
}

.project-picture {
    width: 70%;
    margin: auto;
}

    .project-picture img {
        width: 100%;
        border: 2px solid gray;
        box-shadow: azure;
    }

.project-content .project-title {
    background-color: #457b9d;
    width: 100%;
    text-align: center;
    padding: 3px;
    font-size: medium;
    color: white;
    margin: auto;
}

.project-content h3 {
    text-align: center;
    margin-bottom: 0 !important;
    padding: 8px;
    color: white;
    background-color: #457b9d;
    border-top: 1px solid #fff;
}

.project-description {
    overflow: scroll;
    height: 10em;
    width: 100%;
    background-color: whitesmoke;
}

    .project-description p {
        padding: 3px 10px;
        text-align: justify;
    }

.project-date {
    margin: 5px 15px;
}

.project-content h4 {
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
    background-color: gray;
}

.project-link {
    overflow: scroll;
    height: 4em;
    width: 100%;
    background-color: whitesmoke;
}

    .project-link a {
        margin: 5px;
        text-decoration: none;
    }

        .project-link a:visited {
            color: lightgreen;
        }

        .project-link a:hover {
            color: blue;
        }
        .project-link a:active {
            color: #e63946;
        }

.project-collaborators {
    width: 20%;
    border: 1px solid #1d3557;
}
.project-collaborators h4 {
    text-align: center;
    margin: 0;
    padding: 8px;
    color: white;
    background-color: #457b9d;
}

.project-collaborators-picture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

    .project-collaborators-pictture a .small-pix {
        margin: 3px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #1d3557;
    }

.project-details-footer {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid gray;
}

    .project-details-footer a {
        margin: 5px 2px;
    }

/* CSS for Job postings Relating to Project Details */
.job-posting-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    height: 20em;
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 767px) {
    /* CSS for Job postings Relating to Project Details */
    .job-posting-field {
        height: 30em;
        width: 100%;
        margin: auto;
    }

    .project-details-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .project-picture {
        width: 30%;
        margin: 0;
    }

        .project-picture img {
            height: 100%;
            width: 100%;
           /* border: 2px solid gray;
            box-shadow: azure;*/
        }

    .project-content {
        width: 50%;
    }

    /*.project-description h3 {
        text-align: center;
        margin: 0;
        padding: 5px;
        color: white;
        background-color: #457b9d;
    }*/

    .project-collaborators {
        width: 20%;
        border: 1px solid #1d3557;
    }
}
