                                            
                                         /*INSTRUCTIONS FROM MICROSOFT*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*NAVIGATION LINKS*/
.nav-link {
    font-size: 1.1em !important;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}






/*BODY*/
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.padding {
    padding: 0.5rem;
}


/*HEADER*/





/*FOOTER*/



/*BUTTONS*/
.btn-success {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/*CSS form Scroll-To-Top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

/*PICTURES*/
.small-thumbnail {
    padding: 3px;
    line-height: 0.7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
}




/*MEDIA QUERIES*/
@media (min-width: 1199px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }
}

@media (max-width: 1198px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }
}

@media (max-width: 768px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;
    }
    html {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3px;
    } 
}

html {
    position: relative;
}

body, html {
    /*Margin bottom by footer height*/
    margin: auto;
}


/* demo styling css for testing: fix however you want*/
.Demo-Types {
    display: inline-block;
    background-color: aquamarine;
    padding-left: 1em;
    padding-right: 1em;
}