                                            
                                         /*INSTRUCTIONS FROM MICROSOFT*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Nick's Note*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*NAVIGATION LINKS*/


/*BODY*/
.titleCard {
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    background-color: #1b6ec2;
    padding: 0.5rem 0.5rem;
}
.titleBorder {
    border-top: 10px solid #1b6ec2;
    border-radius: 5px 5px 0 0;
    background-color: white;
    color: #1b6ec2;
    text-align: center;
    margin-top: 8px;
    width: 100%;
    padding: 0.3em;
}

#usersCard .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #343a40;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.gradient {
    height: 40vh;
    min-height: 400px;
    max-height: 1000px;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}

.gradient-content {
    display: flex;
    justify-content: space-evenly;
    max-width: ;
    padding-top: 60px;
}

#section1 {
    padding: 20px;
}

.bigClick {
    height: 7em;
    width: 7em;
    border: 0 solid white;
    border-radius: 90%;
    color: white;
    text-align: center;
    line-height: 0;
}

    #boxLink1, #boxLink2, #boxLink3 {
        text-decoration: none !important;
    }

    .bigClick:hover {
        background: #6c757d !important;
        color: #fff;
        border: none;
        box-shadow: 5px 5px 15px #343a40;
    }

.social a {
    font-size: 2em;
    margin: 0 15px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-github {
    color: #0e76a8;
}

.fa-youtube {
    color: #bb0000;
}

    .fa-facebook:hover,
    .fa-twitter:hover,
    .fa-github:hover,
    .fa-youtube:hover {
        color: #6c757d;
    }

#box1 {
    /*border: 1px solid white;*/
    background: gray;
    height: 20em;
    padding: 3em 5em;
    box-shadow: 5px 5px 15px #343a40;
    border-radius: 10px;
}

#box2 {
    /* border: 1px solid white; */
    padding: 3em 5em;
    background: #6f42c1;
    box-shadow: 5px 5px 15px #343a40;
    border-radius: 10px;
}

 #box1:hover, #box2:hover {
        background: #dc3545 !important;
        color: #fff;
        border: none;
        box-shadow: 5px 5px 15px #343a40;
    }
footer {
    color: white;
    background: #343a40;
    padding: 1rem .5rem;
}


/*#usersCard .card:hover {
        background: #e74c3c;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 15px #343a40;
    }*/
/*HEADER*/
/*FOOTER*/
/*BUTTONS*/
/*CSS form Scroll-To-Top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 99;
    border: 1px solid white;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
#myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }



/*PICTURES*/
.small-thumbnail {
    padding: 3px;
    line-height: 0.7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
}


/*MEDIA QUERIES*/
/* Extra Lare Screen size */
@media (min-width: 1199px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    #usersDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
    }
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.5rem;
        column-gap: 1.5rem;
        orphans: 1;
        widows: 1
    }
    .card article {
        font-size: 1.2rem;
    }
}

/* Large Screen size */
@media (max-width: 1198px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    #usersDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
    }
    .carousel-caption h4, h1 {
  
    }
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.5rem;
        column-gap: 1.5rem;
        orphans: 1;
        widows: 1
    }
    .card article {
        font-size: 1.2rem;
    }
}

/* Midium Screen Size */
@media (max-width: 768px) {
    .gradient-content {
        display: flex;
        padding-top: 2em;
        text-align: left;
    }
    #box1 {
        text-align: left;
        padding: 0 1em !important;
        margin: .5em auto;
        border-radius: 10px;
    }
       
    #box2 {
         text-align: center !important;
         padding: 1.5em 1em !important;
         margin: .5em auto;
         height: 200px;
         border-radius: 10px;
     }
        #box2 h3 {
            font-size: 1.2em;
            margin-bottom: .4em;
        }
        #projectDisplay {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3px;
        }

    #usersDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.5rem;
        column-gap: 1.5rem;
        orphans: 1;
        widows: 1
    }

    /*css form carousel*/
    .carousel-caption {
        top: 40%;
    }

        .carousel-caption h1 {
            font-size: 350%;
            text-transform: uppercase;
          
        }

        .carousel-caption h4 {
            font-size: 140%;
            font-weight: 400;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 95%;
            padding: 8px 14px;
        }
}


/* Small Screen Size */
@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
        background-color: #1b6ec2;
    }
    header nav a {
        color: white !important;
    }
    #mystuff a {
        color: black !important;
    }
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3px;
    }

    #usersDisplay {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3px;
    }
    #newPLink {
        font-size: 14px;
        margin: auto !important;
    }
    #userTitle {
        font-size: 1.5em;
    }

    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.5rem;
        column-gap: 1.5rem;
        orphans: 1;
        widows: 1
    }


    .smallSearch {
        margin-top: .5em;
        display: flex !important;
        justify-content: end !important;
    }

        .smallSearch form {
            width: 50% !important;
            margin-left: 50% !important;
            margin-bottom: 3px;
        }

    .gradient {
        height: 40vh;
        min-height: 300px;
        max-height: 1000px;
        width: 100%;
        background-color: transparent;
        background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        color: white;
        opacity: 0.98;
    }

  .gradient-content {
        display: block;
        padding-top: 0;
        text-align: center;
    }

    #box1, #box2 {
        text-align: left;
        padding: 1.5em 2em !important;
        margin: .5em auto;
        border-radius: 0;
        box-shadow: none;
    }

    #box2 {
        height: 100px;  
    }
    #box1 {
        height: 220px;
    }

    #section1 {
        padding: 15px;
        display: flex !important;
        justify-content: space-around;
        background: #f8f9fa;
        margin-top: 1.5em;
        box-shadow: lightgray;
    }
    .social {
        margin-top: .5em !important;
    }
    .bigClick {
        height: 5em !important;
        width: 5em !important;
        background: #1b6ec2;
        border: 0 solid black !important;
        border-radius: 20%;
        color: white !important;
        text-align: center;
        line-height: 1px;
        box-shadow: 5px 5px 15px #343a40;
        margin-bottom: 5px;
    }
    #slider {
        padding: 0;
    }
    #boxLink2 {
        color: white;
        background: #28a745;
    }
   
    footer {
        color: white;
        background: #343a40;
        padding: 1rem .5rem;
    }
        /*css form carousel*/
        .carousel-caption {
            top: 10%;
            font-size: 80%;
        }

        .carousel-caption h1 {
            font-size: 200%;
            text-transform: uppercase;
        }

        .carousel-caption h4 {
            font-size: 110%;
            font-weight: 400;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 80%;
            padding: 4px 4px;
        }
    .carousel-indicators {
        display: none;
    }
    .jumbotron h3 {
        font-size: 18px !important;
    }
    .jumbotron .btn {
        font-size: 15px !important;
    }
}
