                                            
                                         /*INSTRUCTIONS FROM MICROSOFT*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*NAVIGATION LINKS*/
.nav-link {
    font-size: 1.1em !important;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}






/*BODY*/
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body, html {
    /*Margin bottom by footer height*/
  
}
.padding {
    padding: 0.5rem;
}




/*HEADER*/





/*FOOTER*/
.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/*BUTTONS*/
.btn-success {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/*CSS form Scroll-To-Top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

/*PICTURES*/
.small-thumbnail {
    padding: 3px;
    line-height: 0.7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
}




/*MEDIA QUERIES*/
/* Extra Lare Screen size */
@media (min-width: 1199px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
    }
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }
    .card article {
        font-size: 1.2rem;
    }
}

/* Lare Screen size */
@media (max-width: 1198px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }
    .carousel-caption h4, h1 {
  
    }
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }
    .card article {
        font-size: 1.2rem;
    }
}

/* Midium Screen Size */
@media (max-width: 768px) {
    #projectDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;
    }
    html {
        font-size: 16px !important;
    }

    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }

    /*css form carousel*/
    .carousel-caption {
        top: 40%;
    }

        .carousel-caption h1 {
            font-size: 350%;
            text-transform: uppercase;
          
        }

        .carousel-caption h4 {
            font-size: 140%;
            font-weight: 400;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 95%;
            padding: 8px 14px;
        }
}


/* Small Screen Size */
@media (max-width: 576px) {
    #newPLink {
        font-size: 14px;
        margin: auto !important;
    }

    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }
    /*css form carousel*/
    .carousel-caption {
        top: 10%;
        font-size: 80%;
    }

        .carousel-caption h1 {
            font-size: 200%;
            text-transform: uppercase;
        }

        .carousel-caption h4 {
            font-size: 110%;
            font-weight: 400;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 80%;
            padding: 4px 4px;
        }
    .carousel-indicators {
        display: none;
    }
    .jumbotron h3 {
        font-size: 18px !important;
    }
    .jumbotron .btn {
        font-size: 15px !important;
    }
}







/* demo styling css for testing: fix however you want*/
.Demo-Types {
    display: inline-block;
    background-color: aquamarine;
    padding-left: 1em;
    padding-right: 1em;
}