
/*###################
  OPTIONAL BUTTONS
####################*/
.optional-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

    .user-details-head h2, .user-project-head h2 {
        margin: 0;
    }

/*########################################
    USER DETAILS PROPERTIES AND VALUES
########################################*/
.user-details-container {
    display: block;
}

.user-details-info {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    margin-bottom: 30px;
}
.user-details-content .user-details-back-img {
    width: 100%;
    height: 10em;
    object-fit: cover;
}

.user-details-image img {
    margin: .2em 0;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: -100px;
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: 2px solid #fff;
}

.user-details-info p {
    padding: 5px 10px;
    margin-bottom: 0;
    text-align: center;
}

.user-details-info hr {
    margin: 0;
}
.user-details-info h4, .contact-links h4, .user-project-content h4 {
    color: #1d3557;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: 400;
    padding: 8px;
    margin-bottom: 0;
}

.user-bio {
    overflow: auto;
    height: 7em;
    width: 100%;
    text-align: justify;
}

.user-details-info h6{
    padding: 0 10px;
    text-align: center;
    color: rgba(0,0,0,.6);
}

.my-links, .user-details-info a {
    color: #007bff;
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
}
.const-card-footer {
    padding: .4em !important;
}
.const-card-footer a {
    color: white;
}

/* ###############################
   TAB LINK PROPERTIES AND VALUES
################################## */
.tablink {
    color: #fff;
    background: #1d3557;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
}
    .tablink:hover {
        background: #e63946;
    }
/*    Ends here*/

#recuiterPosting {
    display: none;
    position: fixed;
    background-color: white;
    padding: 1em;
}

.const-hr {
    border: 2px solid #1d5567;
}

/*########################################
    PROJECT PROPERTIES AND VALUES
 #####################################   */
.user-project-container .const-card-wrapper {
    border-radius: 0 0 15px 15px;
}

.user-project-content {
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
    max-height: 100vh;
    /* width: 100%; */
}

.collaborators-picture {
    margin: .2em .3em;
    width: 3em !important;
    height: 3em !important;
}

.user-project-content img {
    height: 25em;
    width: 90%;
    margin: auto;
}

/* ##############################
   SKILLS PROPERTIES AND VALUES
################################# */
.const-skills-card {
    border: 1px solid #cbd4f1;
    width: 100%;
/*    margin: 1rem;*/
    box-shadow: .5rem .3rem .5rem .3rem rgba(0,0,0,0.2);
    border-radius: 15px;
    font-size: 1.8em;
}

.skills-discipline {
    background-color: #1d3557;
    color: #fff;
    font-size: large;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.const-table {
    border-collapse: collapse;
    width: 100%;
}

    .const-table th {
        background-color: #457b9d;
        color: #fff;
    }

    .const-table td, .const-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .const-table tr:nth-child(even) {
        background-color: #f1faee;
    }
   .const-table tr:hover {
    background-color: #ddd;
}
   .const-table a {
       color: blue;
       text-decoration: none;
   }



.skills-sections {
/*    display: grid;*/
/*    padding: 1em;*/
}

.skills-and-links {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-skill-and-link-head {
    grid-column: 1/3;
}

.user-skill-and-link-head h2 {
    background-color: #1b6ec2;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 400;
    padding: 5px;
    width:100%;
}

.skillLink_skills {
    grid-column: 2/3;
    padding: 1em;
}

.Discipline_Skills {
    grid-column: 1/2;
    padding: 1em;
}




@media screen and (min-width: 320px) {
    .user-details-head h2, .user-project-head h2 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 767px) {
    .const-hr {
        display: none;
    }
    .user-details-container {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }

    .user-details-content {
        /*height: 50rem;*/
        width: 30%;
        margin: .5em;
        padding: 1.5px;
        
    }
    .user-details-content .general-index-head h2 {
        font-size: 1.2em;
    }
    .user-details-content .user-details-back-img {
    width: 100%;
    height: 8em;
    object-fit: cover;
}
    .user-details-image img {
        height: 8em;
        width: 8em;
        margin-top: -70px;

    }
/*    CSS form User project container*/
    .user-project-container {
        width: 63%;
        height: 60rem;
        margin: .5em;
    }

    .user-project-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: scroll;
        overflow-x: hidden;
        width: 100%;
        height: 70vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .user-project-content .project-title {
        font-size: 1.5em;
    }

        .user-project-content img {
            height: 25em;
        }
}

@media screen and (min-width: 991px) {
    .user-project-content {
        grid-template-columns: 1fr 1fr 1fr;
/*        height: 40em;*/
    }
    /*.user-details-image img {
        height: 30em;
        width: 100%;
    }*/
        /*.user-project-content img {
            height: 30em;
        }*/
}
