
.user-index-container {
    display: block;
}

.const-info-blip {
    display: none;
}
.user-index-bread-crumb {
    display: none;
    background-color: aliceblue;
    padding: 5px;
    text-align: left;
    color: blue;
}
.user-index-search-bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    margin: 3.8em 5px 5px 5px;
}

.search-bar3, .search-bar0 {
    display: none;
    margin: 3px 3px;
}
 

.user-index-search-bars .form-control {
        width: 70% !important;
    }

.user-index-head {
    background-color: #1b6ec2;
    color: white;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: 400;
    margin-bottom: 3px;
    padding: 5px;
}
    .user-index-head h2 {
        margin: 0;
    }

.user-index-content {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: .7em;
    overflow: scroll;
    height: 30em;
    background-color: whitesmoke;
}


@media screen and (min-width: 767px) {
    .user-index-bread-crumb {
        display: block;
    }

    .const-info-blip {
        display: block;
    }
    .user-index-content {
        grid-template-columns: repeat(3, 1fr);
        height: 35em;
        margin: 0 2em 1em 2em;
    }
    .user-index-search-bars {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
        margin: 0 5px;
    }

    .search-bar1, .search-bar2, .search-bar3 {
        display: block;
    }

    .search-bar0 {
        display: none;
    }

}

@media screen and (min-width: 991px) {
    .user-index-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .user-index-search-bars {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 1199px) {
    .user-index-content {
        grid-template-columns: repeat(4, 1fr);
        height: 40em;
    }
}
