
.user-index-container {
    display: block;
}

.user-index-bread-crumb {
    display: none;
    background-color: aliceblue;
    padding: 5px;
    text-align: left;
    color: blue;
}
.user-index-search-bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    margin: 25px 5px 0 5px;
    padding: 5px 0;
}
.search-bar3 {
    display: none;
    margin: 3px 3px;
}
 

.user-index-search-bars .form-control {
        width: 70% !important;
    }


.user-index-content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: .7em;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-index-content {
    overflow: auto;
    height: 30em;
}


@media screen and (min-width: 767px) {
        .user-index-bread-crumb {
        display: block;
    }

    .user-index-content {
        grid-template-columns: repeat(3, 1fr);
/*        margin: 0 2em 1em 2em;*/
    }
        .user-index-content {
            height: 35em;
        }

    .user-index-search-bars {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
        margin: 0 5px;
        padding: 5px 0;
    }

    .search-bar1, .search-bar2, .search-bar3 {
        display: block;
    }

    .search-bar0 {
        display: none;
    }

}

@media screen and (min-width: 1024px) {
    .user-index-content {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1440px) {
    .user-index-content {
        grid-template-columns: repeat(4, 1fr);
        height: 40em;
    }
}
