@model ConstellationWebApp.Models.Posting
@using System.Security.Claims;
@{
    ViewData["Title"] = "Delete";
    var currentUser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<link rel="stylesheet" href="~/css/postings-general.css" />

<div class="postings-general-container">

    <div class="postings-header">Delete This Job Postings</div>

    <div class="postings-general-content">
        @if (currentUser == @Model.PostingOwner.Id)
        {
            <div class="postings-delete-mesage">
                Are you sure you want to delete this Job Post? This action will remove the posting from the site; no one will have access to any of its information or connections once it is deleted.
            </div>
   
                <hr />

                <div class="postings-general-description">
                    <h1><strong>Organization : </strong>@Html.DisplayFor(model => model.PostingFor)</h1>

                    <h3>Post name :  @Html.DisplayFor(model => model.PostingTitle)</h3>

                    <h2>Description</h2>
                    <p> @Html.DisplayFor(model => model.Description)</p>
                </div>
                <form asp-action="Delete" class="text-center my-2">
                    <input type="hidden" asp-for="PostingID" />
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                    <a asp-action="Index" class="btn btn-sm btn-secondary">Back to List</a>
                </form>
        }
        else
        {
            <div>
                <h2>You do not own this job posting, Log In as this User to Edit.</h2>
                <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
            </div>
        }
    </div>
</div>

